$primary: #98bf11 !default;
$gray: #efefef;
$gray-font: #adadaf;

@import "~bootstrap/scss/bootstrap.scss";
@import "./reservation.scss";
@import "./homepage.scss";

:root {
  --primary-color: $primary;
  --gray-color-font: $gray-font;
  --gray-color: $gray;
}

#root {
  font-family: sans-serif;
}

.main-nav {
  max-width: 250px;
}
@import "./homepage.scss";

:root {
  --primary-color: #98bf11;
  --gray-color-font: #adadaf;
  --gray-color: #efefef;
}

#root {
  font-family: sans-serif;
}

.site-logo {
  width: 100%;
  padding: 1rem;
}

.sidebar {
  min-height: 100vh;
  padding-top: 50px;
}
