@import "~bootstrap/scss/bootstrap.scss";
@import "./homepage.scss";
@import "./add-service-style.scss";
@import "./delete-service-style.scss";

:root {
  --primary-color: #98bf11;
  --gray-color-font: #adadaf;
  --gray-color: #efefef;
}

#root {
  font-family: sans-serif;
}

.site-logo {
  width: 100%;
  padding: 1rem;
}

.sidebar {
  min-height: 100vh;
}
