.signin-bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin: 50px;
    background-image: url(../images/sign.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-bg-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin: 50px;
    background-image: url(../images/sign.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 30%;
    padding: 1rem;
    margin-bottom: 2rem;
}

.logos {
    margin-bottom: 6rem;
}

.sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-form__input {
    width: 75%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ff0000;
    border-radius: 30px;
    font-size: 1rem;
}

.btn {
    width: 15%;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #0d6efc;
    border: none;
    cursor: pointer;
}

.submit-btn {
    margin-bottom: 4rem;
}